= navbar do
  .navbar-header
    button.navbar-toggle data-target='#navbar-collapsable' data-toggle='collapse' type='button'
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand.face href='/'
      img src='/img/photos/nowaker.jpg'
    a.navbar-brand.title href='/'
      h1 Damian Nowak
      h2.hidden-xs CEO & Ruby Developer
      h2.hidden-sm.hidden-md.hidden-lg CEO & Developer

  = navbar_collapse do
    = navbar_group class: '', id: 'menu' do
      = navbar_item 'About me', '/'
      = navbar_item 'Blog', '/blog.html'
      = navbar_item 'Bookshelf', '/bookshelf.html'
      = navbar_item 'Resume', '/resume.html'
      = navbar_item '/feed.xml' do
        i.fa-rss.fa.fa-lg
      = navbar_item 'https://twitter.com/nwkr' do
        i.fa-twitter.fa.fa-lg
      = navbar_item 'https://github.com/Nowaker' do
        i.fa-github.fa.fa-lg
      = navbar_item 'https://gitlab.com/Nowaker' do
        i.fa-gitlab.fa.fa-lg
