doctype html
html
  head
    meta charset='utf-8'
    meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'
    title
      - if @title
        = @title
      - else
        = current_article.title + ' (Damian Nowak)' rescue 'Damian Nowak'
    meta name='description' content='Damian Nowak. CEO & Ruby developer. Arch Linux hacker. Open source enthusiast.'
    meta name='keywords' content='nowaker, damian nowak, atlashost, stratushost'
    - if @noindex
      meta name='robots' content='noindex'
    meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' name='viewport'
    link href='/favicon.ico' rel='shortcut icon'
    link href='/css/main.css' rel='stylesheet'
    = javascript_include_tag '/js/snippets.js'
    = yield_content :scripts
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: 'Atom Feed'
  body
    = partial 'layouts/nav'

    #page.container
      .about.row
        markdown:
          Damian Nowak is a CEO at [Virtkick](https://www.virtkick.com/).
          He's a Ruby coder, an Arch Linux hacker, and drinks good beer.

      = yield

    footer.hidden-print
      .container
        a href='https://www.nowaker.net/' nowaker.net
        = " &copy; 2014-#{Time.now.year} Damian Nowak."
        = surround ' ', '.' do
          a href='https://gitlab.com/Nowaker/nowaker-blog/blob/master/LICENSE.md' Read the license

    script src='/js/main.js'
    = yield_content :scripts

    /[if lte IE 8]
      #old-browser
        javascript:
          document.getElementById('page').style.display = 'none';
        div
          | You are using an outdated browser.<br/>
            Please <a href="http://browsehappy.com/">upgrade your browser</a> to access this website.
