= wrap_layout :layout do
  #page-post
    h1.title
      = link_to current_article.title, current_article
      span.date
        = current_article.date.strftime '%B %Y'

    - if current_article.data.atlashost
      .alert.alert-warning
        | This post has been originally posted at blog.atlashost.eu, which I decided to discontinue.<br/>
        | Please visit <a href="https://www.atlashost.eu">atlashost.eu</a> to get familiar with AtlasHost.

    = yield

    .author
      img src='/img/photos/nowaker.jpg'
      span.name Damian Nowak
      br
      span.title CEO & Ruby Developer
