@import 'bootstrap-customize';

#page-geekery {

  @media(min-width: $screen-md) {
    .office-pics {
      margin-top: 35px;

      img.office {
        margin-top: 10px;
      }
    }

    img.arch {
      margin-top: 65px;
    }
  }

  img.game {
    padding: 5px;
  }

  @media(max-width: $screen-md - 1) {
    .office-pics img {
      margin: 5px
    }

    img.game {
      width: 25%;
    }
  }
}
