@import 'bootstrap-customize';

#page-index, #page-archives {
  h1.title:first-child {
    margin-top: $line-height-computed;
  }

  h1.title {
    margin-top: 50px;
  }

  p.links {
    margin-top: 50px;
  }
}
