@import 'bootstrap-customize';

#page-post {
  .alert {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 10px;

    @media(min-width: $screen-sm) {
      margin-left: 0;
      margin-right: 0;
    }

    text-align: center;
  }

  .author {
    margin-top: 60px;
    margin-bottom: 20px;

    img {
      float: left;
      width: 56px;
      margin-right: 8px;
    }

    .name {
      font-weight: bold;
    }
  }
}
