@import 'bootstrap-customize';

#page-resume {
  table, p, li {
    font-size: 16px;
  }

  .current {
    background-color: #F4FACE;
  }

  .smaller {
    font-size: 13px;
  }

  td.continued {
    border-top: 0;
  }

  @media(max-width: $screen-xs-max) {
    .work .description {
      width: 250px !important;
    }
  }

  @media(min-width: $screen-sm) {
    $date-width: 130px;
    .date {
      width: $date-width;
    }

    $company-width: 150px;
    .work .company {
      width: $company-width;
    }

    $position-width: 160px;
    .work .position {
      width: $position-width;
    }

    .schools .school {
      width: $company-width + $position-width;
    }
  }

  @media print {
    table.work td.description {
      width: 60% !important;
    }
  }
}
