@import 'bootstrap-customize';
@import 'fonts';
@import '_mixins';

@media print {
  a[href]:after {
    content: none !important;
  }
}

nav.navbar {
  border: 0;

  .face.navbar-brand {
    padding: 0;
    margin-left: 0;

    img {
      width: $navbar-height;
    }
  }

  .title.navbar-brand {
    padding-top: 18px;
    padding-right: 20px;
    margin-left: 0;

    h1, h2 {
      margin: 0;
      padding: 0;
      padding-bottom: 5px;
    }

    h1 {
      font-size: 20px;
    }

    h2 {
      font-size: 15px;
      color: $navbar-default-color;
    }
  }

  .navbar-collapse {
    border: 0;
  }

  #menu {
    margin-top: 0;
    margin-bottom: 0;

    @media(min-width: $screen-sm) {
      margin-top: 10px !important;

      a {
        font-size: 17px;
        margin: 5px 5px;
        padding: 10px 3px;
        height: 50px;
        border-top: 3px solid transparent;
      }

      a:hover, li.active a {
        border-top: 3px solid #b2d605;
      }
    }

    @media(min-width: $screen-md) {
      a {
        font-size: 17px;
        margin: 5px 7px;
      }
    }

    @media(min-width: $screen-lg) {
      a {
        font-size: 19px;
        margin: 5px 15px;
      }
    }
  }
}

.about {
  background-color: #F4FACE;
  padding: 5px 15px 8px;

  p {
    margin: 0;
    padding: 0;
  }
}

#page {
  h1.title {
    .date {
      font-size: 18px;
      margin-left: 15px;
      position: relative;
      top: -2px;
    }
  }

  h2 {
    margin-top: 50px;
  }
}

#old-browser {
  text-align: center;
  z-index: 1001;

  div {
    display: inline-block;
    width: 450px;
    padding: 20px;
    background-color: #ff8c1a;
    margin: 0 auto;
  }
}

footer {
  &, a {
    color: $navbar-default-color;
  }

  margin-top: 20px;
  border-top: solid 5px #A4CB00;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  font-size: 16px;
  background-color: $navbar-default-bg;
}

@import 'pages/*';

pre {
  padding: 0;
  border: 0;
  border-radius: 0;
}

@import 'pygments-railscasts.css';
@import 'pygments-github.css';

.xs-only {
  @extend .hidden-sm;
  @extend .hidden-md;
  @extend .hidden-lg;
}
