---
pageable: true
per_page: 5
---

#page-index
  - page_articles.each_with_index do |article, i|
    h1.title
      = link_to article.title, article
      span.date
        = article.date.strftime '%B %Y'

    = article.summary 250

  p.links
    a href='/archives.html' See all previous posts.
