- @title = 'Bookshelf - Damian Nowak'

#page-bookshelf
  h1 My bookshelf

  | This list includes all books I have read since June 2010.

  h2 Agile & development

  markdown:
    - *Site Reliability Engineering. How Google Runs Production Systems*,
      Betsy Beyer, Chris Jones, Jennifer Petoff & Niall R. Murphy
    - *Pragmatic Thinking & Learning. Refactor Your Wetware*, Andrew Hunt
    - *Design Patterns in Ruby*, Russ Olsen
    - *Release It! Design and Deploy Production-Ready Software*, Michael T. Nygard
    - *Hackers & Painters: Big Ideas from the Computer Age*, Paul Graham
    - *Programming Ruby. The Pragmatic Programmers*, Dave Thomas, Chad Fowler, Andrew Hunt
    - *Masterminds of Programming. Conversations with the Creators of Major Programming Languages*,
      Federico Biancuzzi, Shane Warden
    - *Search Engine Optimization Bible*, Jerri L. Ledford
    - *The Passionate Programmer. Creating Remarkable Career in Software Development*, Chad Fowler
    - *Apprenticeship Patterns. Guidance for the Aspiring Software Craftsman*, Dave H. Hoover, Adewale Oshineye.
      [Read the review](/post/apprenticeship-dluga-droga-ku-software-craftsmanship.html).
    - *Test-Driven Development*, Kent Beck
    - *Continuous Integration. Improving Software Quality and Reducing Risk*,
      Paul M. Duvall with Steve Matyas, Andrew Glover
    - *Clean code. A Handbook of Agile Software Craftsmanship*, Robert C. Martin
    - *The Pragmatic Programmer. From Journeyman to Master*, Andrew Hunt, David Thomas.
      [Read the review](/post/jak-byc-pragmatycznym-programista-wg-andrewa-hunta-i-davida-thomasa.html).
    - *Implementation patterns*, Kent Beck
    - *Java Puzzlers*, Joshua Bloch
    - *Effective Java*, Joshua Bloch. [Read the review](/post/uefektywnij-swoja-jave-porady-joshuy-blocha.html).
    - *Refactoring to patterns*, Joshua Kerievsky. [Read the review](/post/wzorce-projektowe-krotki-opis-najwazniejszych.html).
    - *Grails. A Quick-Start Guide*, Dave Klein
    - *Java Concurrency in Practise*, Brian Goetz, Tim Peierls, Joshua Bloch

  h2 Fun & hobbies

  h3 World War II and Cold War

  p I'm interested in World War II and Cold War. I read many books by Bogusław Wołoszański,
    a notable Polish journalist popular for his TV series "Sensations of XX Century" of 1983-2005.

  markdown:
    - *Rotmistrz*, Marian Zacharski
    - *Władcy ognia. Nuklearny pojedynek USA-ZSRR*, Bogusław Wołoszański
    - *Droga do piekła. Stalin 1941-1945*, Bogusław Wołoszański
    - *Tajna wojna Stalina*, Bogusław Wołoszański
    - *Tajna wojna Churchilla*, Bogusław Wołoszański
    - *Honor żołnierza 1939*, Bogusław Wołoszański
    - *Największy wróg Hitlera*, Bogusław Wołoszański
    - *Tajna wojna Hitlera*, Bogusław Wołoszański

  h3 Motorcycling

  markdown:
    - *Proficient Motorcycling: the ultimate guide to riding well*, David L. Hough
    - *More Proficient Motorcycling: Mastering the Ride*, David L. Hough
    - *Street Strategies: A Survival Guide for Motorcyclists*, David L. Hough

  h3 United States of America

  markdown:
    - *Asfaltowy saloon*, Waldemar Łysiak
    - *Wałkowanie Ameryki*, Marek Wałkuski
    - *Discovering America with Mariusz Max Kolonko*, Mariusz Max Kolonko

  h3 Other

  markdown:
    - *A Chicken in Every Yard*, Robert & Hanna Litt
    - *The Illustrated A Brief History of Time*, Stephen Hawking
    - *Rockmann. Czyli jak nie zostałem saksofonistą*, Wojciech Mann
