- @title = 'About me - Damian Nowak'

#page-geekery
  .row
    .col-md-8
      h1 Work & life

      markdown:
        I'm a software engineer, manager and business owner based in Texas.
        Thanks to being remote I'm enjoying some unique freedoms:

        - more time to spend with my family and hobbies
        - listening to music from the real speakers
        - 72°F and ceiling fan always on without others complaining
        - four 1920x1080 screens without others asking why
        - a single desktop computer to rule it all
        - a peaceful countryside life with cows, guns and chickens
        - low cost of living while making Bay Area money

        Thanks to all of these I'm more productive or just feel better. :)

    .col-md-4.text-center.office-pics
      a href='/img/photos/office-new.jpg'
        img.office-new src='/img/photos/office-new-small.jpg' alt='my current office' title='my current office'

      a href='/img/photos/office.jpg'
        img.office src='/img/photos/office-mini.jpg' alt='my old office' title='my old office'
 
  h1 I use Arch btw

  .row.linux
    .col-md-8
      markdown:
        Linux has been my daily driver for a decade, and more than that for all server workloads.
        Most of my computers are powered by Arch Linux: desktop, old laptop and Raspberry Pi.

        I switched from Ubuntu 8 years ago because it wasn't hackable enough for me.
        Full control of my system is what I wanted, and I've stayed with Arch ever since.
        Most Archers say Arch isn't good for servers but I beg to differ.

        I prefer being on the bleeding edge - thanks to me and other Archers Ubuntu users get well-tested drivers. ;-)
        These are [bugs in open source drivers](https://bugs.freedesktop.org/buglist.cgi?emailreporter1=1&emailtype1=substring&query_format=advanced&bug_status=UNCONFIRMED&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED&bug_status=RESOLVED&bug_status=VERIFIED&bug_status=CLOSED&bug_status=NEEDINFO&bug_status=PLEASETEST&email1=nowaker%40geozone.pl&list_id=441751)
        I reported.

        I maintain several packages in [Arch Linux User Repository (AUR)](https://aur.archlinux.org/packages/?SeB=m&K=Nowaker).

        That all being said, I'm confessing to have a 2018 MacBook Pro with MacOS.
        My previous laptop died and I had a company MBP at hand.
        I tried installing Arch Linux there but I encountered some hardware issues. :(
        I don't use my laptop often anyway so I can live with it.
    .col-md-4.text-center
      a href='https://www.archlinux.org/'
        img.arch src='/img/logos/arch-linux.png'

  h1 Video games

  .row.games
    .col-md-12
      markdown:
        When I'm up for some gaming, I'll probably play a singleplayer or multiplayer FPS.
        Singleplayer shooters I liked are BioShock, Half-Life, Call of Duties and Portal just to name a few.
        When I'm in the mood for playing with real people and I almost exclusively go for Battlefield 4
        but Call of Duty Blackout, Playerunknown's Battlegrounds or World War 3 are an option too.

        The game franchise I love most is Fallout.
        I spent 180 hours playing Fallout New Vegas and I don't regret a single minute.
        I fell in love with country and bluegrass music due to Mojave Wasteland Radio and
        listen to Ranch Breakfast Show on Wyoming Public Radio every Saturday morning.

        I also like simulators - from a realistic Spintires, through Euro / American Truck Driver, to arcades
        like Ace Combat Assault Horizon or Need for Speed. Used to play Live for Speed a bit when I had a racing wheel.

        This is my [Steam profile](http://steamcommunity.com/id/nowaker) and
        this is a list of [all games I played](http://steamcommunity.com/id/nowaker/games/?tab=all).
        And this is my [Battlefield 4 soldier](http://battlelog.battlefield.com/bf4/soldier/NowakerTX/stats/901930994/pc/).

    .col-md-12.text-center
      - ['fallout-new-vegas', 'half-life-2', 'bioshock-infinite', 'spintires'].each do |game|
        a href="/img/screenshots/#{game}.jpg"
          img.game src="/img/screenshots/#{game}-small.jpg"
