- @title = 'Resume - Damian Nowak'

#page-resume
  h1 Work experience

  .table-responsive
    table.table.work
      tr.current
        td
          | Nov 2019
          br
          | present
        td rowspan=2
          a href='https://www.dreamhost.com/' DreamHost
          br
          span.smaller
            | via Virtkick
          br
          | Remote
        td DevOps Engineering Manager
        td.description rowspan=2
          > Leading a DevOps Engineering Team under a B2B contract between Virtkick and DreamHost.
          > Migrating old infrastructure from dated configuration management tools to Terraform and Chef.
          > Converting the development process from Vagrant and Gerrit to Docker and GitLab.
          > Automating build, test and deployment of DreamHost's services using GitLab CI, Helm and Kubernetes.
          > Setting up and maintaining Kubernetes clusters.
      tr.current
        td.continued
          | Nov 2017
          br
          | Oct 2019
        td.continued Lead DevOps Engineer
      tr.current
        td
          | Nov 2017
          br
          | present
        td
          | Undisclosed
          br
          span.smaller
            | via Virtkick
          br
          | Remote
        td Senior Ruby & DevOps Engineer
        td.description
          > Under a B2B contract, I'm driving a technological change in a dated application
          > used by hundreds of thousands of users in the United States.
          > Development tasks include changing architecture, tuning performance,
          > improving security and bringing the project up to par with best practices.
          > DevOps tasks include setting up infrastructure & application metrics, monitoring,
          > alerting, automating configuration management and deployments, and
          > improving security.
      tr
        td
          | Apr 2017
          br
          | Nov 2017
        td
          a href='https://www.tenfold.com/' Tenfold
          br
          span.smaller
            | via Virtkick
          br
          | Remote
        td Lead Site Reliability Engineer
        td.description
          > Leading the SRE/DevOps Team under a B2B contract between Virtkick and Tenfold.
          > Automating Tenfold's infrastructure using modern DevOps tools, Ruby, Python and shell scripts.
          > Managing on-call rotation and escalation processes in relation to SLAs.
          > Reacting to incidents, performing root cause analyses, and outlining proactive solutions.
          > Improving data security processes and solutions, including employee onboarding/offboarding.
      tr.current
        td
          | Jun 2014
          br
          | present
        td.company
          a href='https://www.virtkick.com/' Virtkick
          br
          > San Antonio, TX
        td CEO & Senior Ruby Engineer
        td.description
          > Leading Virtkick - the best VPS control panel for hosting providers.
          > Outlining company strategy and fundraising - raised $1M in 2015.
          > Overseeing the product and managing employees.
          > Developing Rails application, Sidekiq jobs and Python backend.
          > Working with devops engineers on infrastructure & deployment automation.
      tr
        td.date
          | Oct 2013
          br
          | Oct 2014
        td.company
          a href='https://www.zerigo.com/' 8x8
          br
          span.smaller
            | via <a href="https://softwaremill.com/">SoftwareMill</a>
          br
          | Remote
        td.position Senior Ruby Engineer
        td.description
          > Working on Zerigo DNS and VPS applications - both the webapps and the backend services.
          > Developing PowerDNS pipe backend for Zerigo DNS.
          > Helping the devops team manage DNS nodes with Chef.
      tr
        td
          | Nov 2010
          br
          | Dec 2014
        td.company
          a href='https://www.atlashost.eu/' AtlasHost
          br
          span.smaller
            | (sold)
          br
          | Remote
        td CEO & Ruby Engineer
        td.description
          > Fully managed hosting of Atlassian's applications, mainly JIRA and Confluence.
          > Installing and administering - both operating system and application layer.
          > Developing Rails websites. Automating deployment and operations with Ruby and Chef.
      tr
        td
          | Apr 2012
          br
          | Sep 2013
        td.company
          | Undisclosed
          br
          span.smaller
            | via <a href="https://softwaremill.com/">SoftwareMill</a>
          br
          | Remote
        td Java Developer
        td.description
          > Developing an internal banking web application for a financial instution in South Africa
          > using Java, Groovy, JavaScript and Knockout.js.
          > Lead JavaScripter & unit tester.
      tr
        td
          | Jun 2009
          br
          | Apr 2012
        td
          a href='https://www.spartez.com' Spartez
          br
          | Gdansk, Poland
        td Junior Java Developer
        td.description
          > Developing and maintaining plugins for Atlassian JIRA and Confluence using Java, Struts and JQuery.
          > Developing and maintaining my.spartez.com - an on-line store for software licenses -
          > using PHP and Kohana framework.
          > Learning and following agile and extreme programming principles - especially unit & functional testing,
          > continuous integration and code review.
      tr
        td
          | 2005
          br
          | 2010
        td
          | Freelancing
          br
          | Remote
        td PHP Developer
        td.description
          > Creating and search engine optimizing of lots of small websites and applications written in HTML, CSS and PHP.
          > Most applications used MySQL, a few used PostgreSQL.
          > Some applications are still alive but I'm not that brave to disclose them. ;-)
      tr
        td
          | 2000
          br
          | 2005
        td
          | "Freelancing"
          br
          | Gniew, Poland
        td Fixing People's Computers
        td.description
          > My parents got me my first computer in fall 1997. That's how it all started.
          > Just a couple years later I was the kid known in my small hometown for being good with computers.
          > I made some great extra money on "fixing" people's "computers" (Windowses).

  h1 Technologies

  ul.technologies
    li
      strong Languages:
      > Ruby, Javascript, Python, Shell, Java, Groovy, PHP, Perl
    li
      strong Frameworks:
      > Rails, Middleman, Jekyll, Spring, Wicket, Java EE, KohanaPHP
    li
      strong Unit testing:
      > RSpec, Test Kitchen, Bats, Spock, JUnit, Mockito, Selenium, Capybara
    li
      strong Coding practices:
      > agile, clean code, unit testing, defensive programming, continuous delivery
    li
      strong Clouds:
      > Amazon Web Services, Google Cloud Platform, OpenStack, DreamCompute, Rackspace, DigitalOcean, OVH
    li
      strong Containers:
      > Docker, Kubernetes, Helm, Kops, RKE, Kubespray, Google Container Engine
    li
      strong Infrastructure:
      > Chef, Terraform, Vault, Consul, Etcd, Vagrant, Ansible
    li
      strong Monitoring:
      > Sensu, Datadog, Prometheus, PagerDuty, Zabbix
    li
      strong Virtualization:
      > Libvirt, KVM, Virtkick, OpenStack, OnApp, Webvirtmgr
    li
      strong Networks:
      > Wireshark, tcpdump, iptables, Calico, OpenWRT
    li
      strong Data stores:
      > PostgreSQL, MySQL, MariaDB, Redis, AWS RDS, MongoDB
    li
      strong Continuous delivery:
      > GitLab CI, Travis CI, Codeship, Teamcity, Jenkins
    li
      strong Operating systems:
      > Arch, Ubuntu, MacOS, CentOS, Debian, systemd, package building
    li
      strong Version control:
      > Git, Git LFS, Subversion, GitLab, GitHub, Gerrit
    li
      strong Integrations/APIs:
      > Stripe, Braintree, Slack, PayPal, Mailgun, Akamai DNS, Let's Encrypt, Customer.io, Dnsimple
    li
      strong Plugin development:
      > PowerDNS, JIRA, Confluence
    li
      strong HTTP servers:
      > nginx, http-master, Puma, Thin, Starman, Apache, Tomcat, Glassfish
    li
      strong Daily drivers:
      > Arch Linux, zsh, Git, GitLab, JetBrains IDEs, Visual Studio Code

  h1 Schools

  .table-responsive
    table.table.schools
      tr
        td.date 2007 to 2011
        td.school
          | Gdańsk University of Technology
          br
          | (Politechnika Gdańska)
        td.description
          | Received the title of Bachelor of Science.
          br
          | Thesis note: 5 (very good). Final note: 4.5 (good plus).

      tr
        td 2004 to 2007
        td
          | Collegium Marianum
          br
          | (Liceum Katolickie w Pelplinie)
        td
          | Graduated with commendation.
          br
          | Took faculties in Maths, Physics and Chemistry.


  h1 Awards

  table.table.awards
    tr
      td.date
        | 2012
      td.description
        |  1st place in the contest for the best thesis
        |  written in Java technology,
        |  organized by
        = surround ' ', '.' do
          a.epoint href='http://e-point.com/' e-point
        br.hidden-xs
        |  I wrote a Java application for search engine optimization
        |  and marketing related activities.
    tr
      td.date
        | 2015
      td.description
        > My business Virtkick was accepted to
        a href='http://www.techstars.com/' Techstars Cloud 2015
        > accelerator program.
        > 10 companies were selected out of 1,100 that applied.
        > I raised $1,000,000 from investors shortly after the program.

  h1 Lectures & workshops

  table.table.lectures
    tr
      td.date
        | 2011
      td.description
        | "Without Wordpress. Alternative blogging"
        |  for members of Tricity Ruby User Group.
    tr
      td.date
        | 2011
      td.description
        | "Search Engine Optimization. In theory and practise"
        |  for postgraduate students of Gdańsk University of Technology.
    tr
      td.date
        | 2012
      td.description
        | "IntelliJ IDEA for power users"
        |  for colleagues from SoftwareMill.
    tr
      td.date
        | 2014
      td.description
        | "Preliminary to Search Engine Optimization"
        |  for editors of Radio Gdańsk.
    tr
      td.date
        | 2015
      td.description
        |  "I raised $1,000,000 from investors. Here's how"
        |  for members of Tricity Ruby User Group.
    tr
      td.date
        | 2018
      td.description
        > Docker and Kubernetes expert at a hackathon for DreamHost engineers.

  h1 Community
  table.table.lectures
    tr
      td.date Oct 2021
      td.description
        > Mentor, panelist and judge at
        a href='https://www.ideahubaccelerator.com/' IDEA Hub Accelerator
        > - remote.
    tr
      td.date Jan 2021
      td.description
        > Mentor, panelist and judge at
        a href='https://www.hackthenortheast.com/' Hack the Norteast: Beyond
        > - remote.
    tr
      td.date June 2020
      td.description
        > Mentor at
        a href='https://www.3daystartup.org/' 3 Day Startup
        > - remote.
    tr
      td.date Jun 2018
      td.description
        > Panelist and judge at
        a href='https://www.3daystartup.org/' 3 Day Startup
        > - San Antonio.
    tr
      td.date Apr 2018
      td.description
        > Panelist and judge at
        a href='https://www.3daystartup.org/' 3 Day Startup
        > - San Antonio.
    tr
      td.date Jun 2016
      td.description
        > Mentor at
        a href='http://www.startupnext.co/' StartupNext
        > - San Antonio.
    tr
      td.date May 2016
      td.description
        > Mentor at
        a href='http://codeup.com/' Codeup
        > - San Antonio.
    tr
      td.date Apr 2016
      td.description
        > Mentor and panelist at
        a href='https://www.3daystartup.org/' 3 Day Startup
        > - San Antonio.
    tr
      td.date Dec 2015
      td.description
        > Participant at
        a href='https://www.3daystartup.org/' 3 Day Startup
        > - San Antonio.
